body{
    text-align: center;
}
.line{
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
}
#app{
    background-color: azure;
}
#game{
    background-color: thistle;
}
#ChatBox{
    background-color: lightblue;
}